.green {
    background-color: #1baf5d
}

.grey {
    background-color: #b6c0c1;
}

.orange {
    background-color: #f19e1f;
}

.purple {
    background-color: #88499c;
}

.text-green {
    color: #1baf5d
}

.text-grey {
    color: #b6c0c1;
}

.text-orange {
    color: #f19e1f;
}

.text-purple {
    color: #88499c;
}