/* Begin Content Header */

.content-header {
    background-color: #fff;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cad2d3;
}


/* Begin Header Tabs */

.header-tabs {
    text-align: left;
    padding-top: 7px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
}

.tab~.tab {
    margin-left: 25px
}

.tab {
    font-size: 12px;
    font-family: "Gotham-Medium";
    text-transform: uppercase;
    color: rgb(150, 166, 167);
}

.tab:hover {
    color: rgb(233, 78, 56);
}

.tab-active {
    color: rgb(233, 78, 56);
}


/* End Header Tabs */


/* Begin Header Location */

.header-location {
    text-align: center;
}

.select-wrapper {
    width: calc(35.67% + 2px);
    background-color: #fff;
    margin: 0 auto;
    display: inline-block;
    margin-left: 10px;
}

.location-select {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #cad2d3;
    padding: 0px 18px;
    font-size: 12px;
    font-family: "Gotham-Medium";
    color: rgb(233, 78, 56);
    text-transform: uppercase;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
    z-index: 10;
    margin-top: 2px;
    height: 35px;
    position: relative;
}

.location-select~.select-arrow {
    font-size: 12px;
    color: rgb(150, 166, 167);
    position: relative;
    right: 20px;
    margin-top: -25px;
    z-index: 1;
    float: right;
}

.header-show-map {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #cad2d3;
    padding: 0px 18px;
    font-size: 12px;
    font-family: "Gotham-Medium";
    color: rgb(150, 166, 167);
    width: calc(37.8% + 2px);
    margin-left: 3.05%;
    margin-top: 2px;
    height: 35px;
    text-align: left
}

.header-show-map i {
    float: right;
    margin-top: 3px
}


/* End Header Location */


/* Begin Header Filter */

.header-filter {
    text-align: right;
    padding-left: 0;
    padding-right: 0;
}

.filter-label {
    font-size: 12px;
    font-family: "Gotham-Medium";
    color: rgb(150, 166, 167);
    text-transform: uppercase;
}

.circle {
    border-radius: 100%;
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    border: none;
    margin-left: 10px
}

.circle img {
    height: 100%;
    display: inline-block;
    vertical-align: middle
}

.circle .img-home {
    width: 25px;
}

.circle .img-user {
    width: 16px;
}

.circle .img-hat {
    width: 29px;
}

.circle .img-music {
    width: 19px;
}

.circle .img-bus {
    width: 19px;
}


/* End Header Filter */


/* End Content Header */


/* Media Queries */

@media (max-width: 1199px) {
    .header-location {
        text-align: left
    }
    .header-tabs {
        text-align: center
    }
}

@media (max-width: 991px) {
    .header-location {
        text-align: center
    }
    .header-filter {
        text-align: center;
    }
    .select-wrapper,
    .header-show-map {
        width: 118px;
    }
}

@media(max-width: 767px) {
    .header-filter {
        margin-top: 15px
    }
}

@media(max-width: 575px) {
    .circle {
        margin-left: 1px;
    }
    .tab~.tab {
        margin-left: 10px
    }
    .select-location,
    .header-show-map {
        padding: 0px 10px;
    }
}