/* Begin Fonts */

@font-face {
    font-family: 'Gotham-Medium';
    src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Medium.otf') format('opentype'), url('../fonts/Gotham-Medium.woff') format('woff'), url('../fonts/Gotham-Medium.ttf') format('truetype'), url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Light';
    src: url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Light.otf') format('opentype'), url('../fonts/Gotham-Light.woff') format('woff'), url('../fonts/Gotham-Light.ttf') format('truetype'), url('../fonts/Gotham-Light.svg#Gotham-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Bold.otf') format('opentype'), url('../fonts/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham-Bold.ttf') format('truetype'), url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Book.otf') format('opentype'), url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf') format('truetype'), url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* End Fonts */

#page-footer{
    background-image: url(../img/footer.png);
    background-size: 100% 100%;
    padding-top:60px; 
    padding-bottom:60px; 
}
#page-footer .subscribe{
    padding-bottom:45px;
    border-bottom: 1px solid #48423f;
    width:100%
}

#page-footer .subscribe label{
    text-align: center;
    font-size: 24px;
    font-family: "Gotham-Medium";
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 0px 1px 1px rgba(0, 0, 1, 0.15);
}

#page-footer .subscribe input[type="email"] {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    font-family: "Gotham-Book";
    color: rgb(255, 255, 255);
    line-height: 1.667;
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 70px;
    padding-right:135px;
    margin-top:45px;
    
}

#page-footer .subscribe input[type="email"]::placeholder {
    font-size: 18px;
    font-family: "Gotham-Book";
    color: rgb(255, 255, 255);
}

#page-footer .subscribe i{
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: center;     
    position: relative;
    float:left;
    left:35px;
    bottom:60px
}
#page-footer .subscribe input[type="submit"]{
    position: relative;
    float:right;
    right:7px;
    bottom:77px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #e94e38;
    font-size: 14px;
    font-family: "Gotham-Medium";
    text-shadow: 0px 1px 1px rgba(0, 0, 1, 0.15);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    border-radius: 50px;
    border: none;
    border-bottom: 2px solid #c1412e;
    height:52px
}
#page-footer .footer-bottom{
    margin-top:45px
}
#page-footer .footer-bottom h1 {
    font-size: 16px;
    font-family: "Gotham-Medium";
    color: rgb(255, 255, 255);
    text-decoration: underline;
    margin-bottom: 15px;
    text-decoration-color:rgb(192, 190, 188);

}

#page-footer .footer-bottom a{
    font-size: 14px;
    font-family: "Gotham-Book";
    color: rgb(192, 190, 188);
    margin-top:5px;
    display: inline-block;
  }

#page-footer .footer-bottom .follow-us a{
    font-size: 30px;
    color: rgb(255, 255, 255);

}
#page-footer .footer-bottom .follow-us a ~ a{
    margin-left:20px
}
    
#page-footer .footer-bottom .copyright {
    font-size: 14px;
    font-family: "Gotham-Light";
    color: rgb(255, 255, 255);
    margin-top:-20px
}


/* Media Queries */


@media (max-width: 991px) {
    #page-footer .footer-bottom .copyright {
        text-align:center;
        margin-top:20px
    }

    #page-footer .footer-bottom .follow-us a{
        font-size: 25px;
        color: rgb(255, 255, 255);

    }

    #page-footer .footer-bottom .follow-us a ~ a{
        margin-left:10px
    }
}

@media(max-width: 575px) {
    #page-footer .footer-bottom{
        text-align: center
    }
    #page-footer .footer-bottom .follow-us{
        text-align: center;
        margin-top:20px
    }

    #page-footer .subscribe i{
        left:15px;
    }
    #page-footer .subscribe input[type="email"] {
        padding-left: 40px;
        padding-right:100px; 
    }
    #page-footer .subscribe input[type="submit"]{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 12px;
    }  
}


  