/* Begin Navbar */

#page-header .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    background: linear-gradient(to right, #fff 50%, #e94e38 50%);
    margin: 0;
}

#page-header .navbar .container {
    background: #fff;
    padding-right: 0
}

#page-header .navbar-brand,
#page-header .navbar-toggle {
    padding-top: 15px;
    padding-bottom: 14px;
    height: 100%;
}

#page-header .nav-item {
    padding: 19px 10px
}

#page-header .nav-item:hover {
    background-color: #e2dee0;
}

#page-header .nav-item:hover .nav-link {
    color: #fff !important
}

#page-header .navbar .navbar-brand img {
    width: 154px;
    height: 45px;
}

#page-header .navbar .navbar-nav .nav-item .nav-link {
    font-size: 14px;
    font-family: "Gotham-Medium";
    color: rgb(150, 166, 167);
    text-transform: uppercase;
    height: 100%
}

#page-header .navbar .navbar-nav .nav-search {
    background-color: #e2dee0;
    padding: 16px;
}

#page-header .navbar .navbar-nav .nav-search a i {
    font-size: 24px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    padding: 0px;
}

#page-header .navbar .navbar-nav .nav-login {
    background-color: #e94e38;
    width: 12.5vw;
    padding-top: 19px;
    padding-bottom: 15px;
    padding-left: 3%
}

#page-header .navbar .navbar-nav .nav-login a i {
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    padding-right: 10px;
}

#page-header .navbar .navbar-nav .nav-login a .nav-login-text {
    font-size: 14px;
    font-family: "Gotham-Medium";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    padding: 0px;
}


/* End Navbar */


/* Media Queries */

@media (max-width: 991px) {
    #page-header .navbar {
        background: #fff
    }
    #page-header .navbar .navbar-nav .nav-search {
        background-color: #fff;
        color: #000
    }
    #page-header .navbar .navbar-nav .nav-search:hover {
        background-color: #e2dee0;
        color: #fff
    }
    #page-header .navbar .navbar-nav .nav-search:hover a i {
        color: #fff
    }
    #page-header .navbar .navbar-nav .nav-search a i {
        font-size: 24px;
        color: #e2dee0;
        text-transform: uppercase;
        padding: 0px;
    }
    #page-header .navbar .navbar-nav .nav-login {
        background-color: #e94e38;
        width: 100%;
        padding-top: 16px;
        padding-bottom: 15px;
        padding-left: 15px;
        margin-bottom: 5px
    }
}