/* Begin Fonts */

@font-face {
    font-family: 'Gotham-Medium';
    src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Medium.otf') format('opentype'), url('../fonts/Gotham-Medium.woff') format('woff'), url('../fonts/Gotham-Medium.ttf') format('truetype'), url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Light';
    src: url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Light.otf') format('opentype'), url('../fonts/Gotham-Light.woff') format('woff'), url('../fonts/Gotham-Light.ttf') format('truetype'), url('../fonts/Gotham-Light.svg#Gotham-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Bold.otf') format('opentype'), url('../fonts/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham-Bold.ttf') format('truetype'), url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Book.otf') format('opentype'), url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf') format('truetype'), url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* End Fonts */

* {
    outline: none
}

body {
    background-color: #f3f1f2;
}

option {
    color: #000
}


/* Begin Navbar */

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    background: linear-gradient(to right, #fff 90%, #e94e38 10%);
    margin: 0;
    padding: 0;
}

.navbar-brand,
.navbar-toggle {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 100%;
}

.nav-item {
    padding: 15px 10px
}

.nav-item:hover {
    background-color: #e2dee0;
}

.nav-link:hover {
    color: #fff !important
}

.navbar .navbar-brand img {
    width: 154px;
    height: 45px;
}

.navbar .navbar-nav .nav-item .nav-link {
    font-size: 14px;
    font-family: "Gotham-Medium";
    color: rgb(150, 166, 167);
    text-transform: uppercase;
    line-height: 1.714;
    height: 100%
}

.navbar .navbar-nav .nav-search {
    background-color: #e2dee0;
    padding: 16px;
}

.navbar .navbar-nav .nav-search a i {
    font-size: 24px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    padding: 0px;
}

.navbar .navbar-nav .nav-login {
    background-color: #e94e38;
    width: 12vw;
    padding-top: 16px;
    padding-bottom: 15px;
    padding-left: 3%
}

.navbar .navbar-nav .nav-login a i {
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    padding: 0px;
}

.navbar .navbar-nav .nav-login a .nav-login-text {
    font-size: 14px;
    font-family: "Gotham-Medium";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    padding: 0px;
}


/* End Navbar */


/* Begin Search */

.search-container {
    background-image: url('../img/background.png');
    background-size: cover;
    padding-right: 15px
}

.search-title {
    font-size: 30px;
    font-family: "Gotham-Medium";
    color: rgb(255, 255, 255);
    line-height: 1.6;
    text-shadow: 0px 1px 1px rgba(0, 0, 1, 0.15);
    text-align: center;
    padding-top: 57px;
    margin-bottom: 30px
}

.search-select,
.search-keyword {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 25px;
    font-size: 18px;
    font-family: "Gotham-Light";
    color: rgb(255, 255, 255);
    line-height: 1.667;
    text-align: left;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}

.search-select~.select-arrow {
    color: white;
    position: relative;
    bottom: 58px;
    float: right;
    margin-right: 25px;
}

.search-keyword::placeholder {
    font-size: 18px;
    font-family: "Gotham-Light";
    color: rgb(255, 255, 255);
}

.search-submit {
    padding-left: 30px;
    padding-right: 30px;
    background-color: #e94e38;
    font-size: 18px;
    font-family: "Gotham-Medium";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 2.667;
    border-radius: 50px;
    border: none;
    border-bottom: 2px solid #c1412e;
    margin-top: 6px;
    margin-bottom: 35px
}

.rounded {
    border-radius: 35px !important;
}


/* End Search */


/* Begin Content Header */

.content-header {
    background-color: #fff;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cad2d3;
}


/* Begin Header Tabs */

.header-tabs {
    text-align: left;
    padding-top: 7px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
}

.tab~.tab {
    margin-left: 25px
}

.tab {
    font-size: 12px;
    font-family: "Gotham-Medium";
    text-transform: uppercase;
    color: rgb(150, 166, 167);
}

.tab:hover {
    text-decoration: none;
    color: rgb(233, 78, 56);
}

.tab-active {
    color: rgb(233, 78, 56);
}


/* End Header Tabs */


/* Begin Header Location */

.header-location {
    text-align: center;
}

.select-wrapper {
    width: calc(35.67% + 2px);
    background-color: #fff;
    margin: 0 auto;
    display: inline-block;
    margin-left: 10px;
}

.location-select {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #cad2d3;
    padding: 0px 18px;
    font-size: 12px;
    font-family: "Gotham-Medium";
    color: rgb(233, 78, 56);
    text-transform: uppercase;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
    z-index: 10;
    margin-top: 2px;
    height: 35px
}

.location-select~.select-arrow {
    font-size: 12px;
    color: rgb(150, 166, 167);
    position: relative;
    right: 20px;
    margin-top: -25px;
    z-index: 1;
    float: right;
}

.header-show-map {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #cad2d3;
    padding: 0px 18px;
    font-size: 12px;
    font-family: "Gotham-Medium";
    color: rgb(150, 166, 167);
    width: calc(37.8% + 2px);
    margin-left: 3.05%;
    margin-top: 2px;
    height: 35px;
    text-align: left
}

.header-show-map i {
    float: right;
    margin-top: 3px
}


/* End Header Location */


/* Begin Header Filter */

.header-filter {
    text-align: right;
    padding-left: 0;
    padding-right: 0;
}

.filter-label {
    font-size: 12px;
    font-family: "Gotham-Medium";
    color: rgb(150, 166, 167);
    text-transform: uppercase;
}

.circle {
    border-radius: 100%;
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    border: none;
    margin-left: 10px
}

.circle img {
    height: 100%;
    display: inline-block;
    vertical-align: middle
}

.circle .img-home {
    width: 25px;
}

.circle .img-user {
    width: 16px;
}

.circle .img-hat {
    width: 29px;
}

.circle .img-music {
    width: 19px;
}

.circle .img-bus {
    width: 19px;
}

.green {
    background-color: #1baf5d
}

.grey {
    background-color: #b6c0c1;
}

.orange {
    background-color: #f19e1f;
}

.purple {
    background-color: #88499c;
}


/* End Header Filter */


/* End Content Header */


/* Begin Content Body */

.content-body {
    padding-top: 14px;
}

.card {
    margin-top: 32px
}

.card-home .card-img-top {
    border-bottom: 3px solid #1baf5d
}

.card-circle {
    border-radius: 100%;
    display: inline-block;
    height: 58px;
    width: 58px;
    text-align: center;
    border: none;
    border: 3px solid #fff;
    position: relative;
    bottom: 29px;
    left: 50%;
    margin-left: -29px
}

.card-circle img {
    height: 100%;
    display: inline-block;
    vertical-align: middle
}

.card-home .card-circle img {
    width: 30px
}

.card-body {
    font-size: 14px;
    font-family: "Gotham-Medium";
    color: rgb(86, 99, 117);
    text-align: center;
    margin-top: -40px;
    padding: 15px20px padding-bottom: 0
}

.card-owner {
    font-size: 12px;
    font-family: "Gotham-Medium";
    color: rgb(27, 175, 93);
    text-align: center;
    margin: 0
}

.rating {
    font-size: 12px;
    color: rgb(241, 158, 31);
    text-transform: uppercase;
    text-align: center;
}

.rating .users-count {
    font-size: 12px;
    font-family: "Gotham-Medium";
    color: rgb(150, 166, 167);
}


/* End Content Body */


/* Media Queries */

@media (max-width: 1199px) {
    .header-location {
        text-align: left
    }
    .header-tabs {
        text-align: center
    }
}

@media (max-width: 991px) {
    .navbar {
        background: linear-gradient(to right, #fff 90%, #fff 10%);
    }
    .navbar .navbar-nav .nav-search {
        background-color: #fff;
        color: #000
    }
    .navbar .navbar-nav .nav-search:hover {
        background-color: #e2dee0;
        color: #fff
    }
    .navbar .navbar-nav .nav-search:hover a i {
        color: #fff
    }
    .navbar .navbar-nav .nav-search a i {
        font-size: 24px;
        color: #e2dee0;
        text-transform: uppercase;
        padding: 0px;
    }
    .navbar .navbar-nav .nav-login {
        background-color: #e94e38;
        width: 100%;
        padding-top: 16px;
        padding-bottom: 15px;
        padding-left: 15px;
        margin-bottom: 5px
    }
    .header-location {
        text-align: center
    }
    .header-filter {
        text-align: center;
    }
    .select-wrapper,
    .header-show-map {
        width: 118px;
    }
}

@media(max-width: 767px) {
    .header-filter {
        margin-top: 15px
    }
}

@media(max-width: 575px) {
    .circle {
        margin-left: 1px;
    }
    .tab~.tab {
        margin-left: 10px
    }
    .select-location,
    .header-show-map {
        padding: 0px 10px;
    }
}