/* Begin Fonts */

@font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham Medium.otf")
}


/* End Fonts */


/* Begin Navbar */

.container {
    padding-right: 0
}

.container-fluid {
    padding: 0
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #fff;
    position: absolute;
    margin: 0;
    padding: 0;
    border: 1px solid #000
}

.navbar-brand,
.navbar-toggle {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 100%;
}

.nav-item {
    padding: 15px 10px
}

.nav-item:hover {
    background-color: #e2dee0;
}

.nav-link:hover {
    color: #fff !important
}

.navbar .navbar-brand {
    margin-right: 100px
}

.navbar .navbar-brand img {
    width: 154px;
    height: 45px;
}

.navbar .navbar-nav .nav-item .nav-link {
    font-size: 14px;
    font-family: "Gotham";
    color: rgb(150, 166, 167);
    text-transform: uppercase;
    line-height: 1.714;
    height: 100%
}

.navbar .navbar-nav .cli-search {
    background-color: #e2dee0;
    padding: 16px;
}

.navbar .navbar-nav .cli-search a i {
    font-size: 24px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    padding: 0px;
}

.navbar .navbar-nav .cli-login {
    background-color: #e94e38;
    width: 12vw;
    padding-top: 16px;
    padding-bottom: 15px;
    padding-left: 3%
}

.navbar .navbar-nav .cli-login a i {
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    padding: 0px;
}

.navbar .navbar-nav .cli-login a .cspan-login-text {
    font-size: 14px;
    font-family: "Gotham";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    padding: 0px;
}

.cdiv-red {
    background-color: #e94e38;
    width: 50%;
    float: right;
    height: 76px;
    z-index: -1;
}


/* End Navbar */