/* Begin Search */

#search-container {
    background-image: url('../img/background.png');
    background-size: cover;
    padding-right: 15px
}

#search-container .search-title {
    font-size: 30px;
    font-family: "Gotham-Medium";
    color: rgb(255, 255, 255);
    line-height: 1.6;
    text-shadow: 0px 1px 1px rgba(0, 0, 1, 0.15);
    text-align: center;
    padding-top: 57px;
    margin-bottom: 30px
}

#search-container .search-select,
#search-container .search-keyword {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 25px;
    font-size: 18px;
    font-family: "Gotham-Light";
    color: rgb(255, 255, 255);
    line-height: 1.667;
    text-align: left;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}

#search-container .search-select~.select-arrow {
    color: white;
    position: relative;
    bottom: 58px;
    float: right;
    margin-right: 25px;
}

#search-container .search-keyword::placeholder {
    font-size: 18px;
    font-family: "Gotham-Light";
    color: rgb(255, 255, 255);
}

#search-container .search-btn {
    text-align: center
}

#search-container .search-submit {
    padding-left: 30px;
    padding-right: 30px;
    background-color: #e94e38;
    font-size: 18px;
    font-family: "Gotham-Medium";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 2.667;
    border-radius: 50px;
    border: none;
    border-bottom: 2px solid #c1412e;
    margin-top: 6px;
    margin-bottom: 35px
}


/* End Search */